<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="container">
"Nous somme dans l'url principale, il y a l'url /hello?name=fabrice et il y aura une description de fabrice, parce que je m'appelle fabrice et si vous avez mis votre nom dans le parametre name dans sur l'url, eh bah il y aura hello suivi de ton nom, et juste /hello fera une erreur 404... Tout te semble convenir? C'est parti !! On se retrouve sur l\'url /hello ! \n"
        </div>
    </body>
</html>
